<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olist - {{title}} </title>
</head>
<body>
    <h1>{{title}}</h1>
    <form action="/product/save"> 
        id: <input type="text" name="id" id="id" value="{%if data %}{{data.id}}{%endif%}" readonly><br />
        name: <input type="text" name="name" id="name" value="{%if data %}{{data.name}}{%endif%}"> <br />
        description: <input type="text" name="description" id="description" value="{%if data %}{{data.description}}{%endif%}"><br />
        price: <input type="text" name="price" id="price" value="{%if data %}{{data.price}}{%endif%}"><br />
        <div>
            {%if data %}
                <ul>
                    {% for cat in data.categories %}
                        <label margin-right: 0px;>categoria {{cat}}</label>
                    {% endfor %}
                </ul>
            {%endif%}
            <select name="categories" id="categories">
                {% for item in categories %}
                    categories: <option type="text" name="categories" id="categories" value="{{item.id}}">{{item.name}}</option><br />
                {% endfor %}
            </select>
        </div>
        <input type="submit" value="Save">
    </form>
    <a href="/product">Voltar para o módulo produto</a>
</body>
</html>




<script>
    (function Combo1(){
    let test = $("#categories").val();
    axios({ 
        method:"get",
        url:"/test",
        params: {
            test
        }
    }).then(function (response) {
        $(document.body).html(response.data)
    }); 
})();
</script>