<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olist - {{title}} </title>
</head>
<body>
    <h1>{{title}}</h1>
    <form action="/product/save"> 

        id: <input type="text" name="id" id="id" value="{%if data_product %}{{data_product.id}}{%endif%}" readonly><br />
        name: <input type="text" name="name" id="name" value="{%if data_product %}{{data_product.name}}{%endif%}"> <br />
        description: <input type="text" name="description" id="description" value="{%if data_product %}{{data_product.description}}{%endif%}"><br />
        price: <input type="text" name="price" id="price" value="{%if data_product %}{{data_product.price}}{%endif%}"> <br />


        {%if data_product %}
            <label for="cars">Categorias do produto</label>
            <ul>

            {% for cat in data_product.categories %}
                <li>{{cat}}</li>
            {% endfor %}
            </ul>
        {%endif%}

        <label for="cars">Selecione as categorias</label>

        <select size="8" name="categories" id="categories" multiple>

            {% for cat in data_category %}
                <option width="30" value="{{cat.id}}">{{cat.id}}. {{cat.name}}</option>
            {% endfor %}

        </select>

        <input type="submit" value="Save">
    </form>
    <a href="/product">Voltar para o módulo produto</a>
</body>
</html>