{% extends 'base.html'  %}

{% block content %}
    <h1>{{title}}</h1>
    <a class="btn btn-info" href="/product/form">Novo Produto</a>
    <br>
    <table class="table table_bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Categories</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %} 
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.price}} </td>
                    <td>{{item.categories}}</td>
                    <td><a class="btn btn-success" href="/product/form?id={{item.id}}">Update</a></td>
                    <td><a class="btn btn-danger" href="/product/delete?id={{item.id}}">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-secondary" href="/">Voltar para o inicio</a>

{% endblock %}