{% extends 'base.html' %}

{% block content %}

    <h1>{{title}}</h1>
    <form  class="form-group" action="/product/save"> 
        <div class="form-group">
            <label for="exampleFormControlInput1">ID</label>
            <input  class="form-group" type="text" name="id" id="id"  value="{%if data %}{{data.id}}{%endif%}" readonly><br />
        
            <label for="exampleFormControlInput1">Nome</label>
            <input class="form-group" type="text" name="name" id="name" placeholder="Digite o nome do produto..." value="{%if data %}{{data.name}}{%endif%}"> <br />

            <label for="exampleFormControlInput1">Descrição</label>
            <input class="form-group" type="text" name="description" id="description"placeholder="Digite a descrição..."  value="{%if data %}{{data.description}}{%endif%}"><br />

            <label for="exampleFormControlInput1">Preço</label>
            <input  class="form-group" type="text" name="price" id="price"placeholder="Digite o preço..."  value="{%if data %}{{data.price}}{%endif%}"><br />
        categories: 
        <select class="form-control" id="categories" name="categories" multiple>
        {% for item in categories %}
        <option value={{item.id}}>
        {{ item.name}}
        </option>
        {% endfor %}
        </select>
       

        <input  class="btn btn-success" type="submit" value="Save">
    </div>
    </form>
<a href="/product">Voltar para o módulo produtos</a>

{% endblock %}